<!DOCTYPE HTML>

<html>
	<head>
		<title>Lighting Weather</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<div class="inner">
					<span class="icon solid major fa-cloud"></span>
					<h1>Hi, I'm <strong>Photon</strong> AI<br />
					Let's monitor the weather for the rest of the day<a href=""></a>.</h1>
					<p>Smart lighting system that uses AI and machine learning to adjust the lights based on a variety of factors<br />
					including time of day, user preferences, and the amount of available natural light</p>
					<ul class="actions special">
						<li><a href="#one" class="button scrolly">Navigate</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style1">
				<div class="container">
					<div class="row gtr-150">
						<div class="col-6 col-12-medium">
							<header class="major">
								<h2>A system specifically made for<br />
									RTU buildings lighting system</h2>
							</header>
							<p>AI technology called "Photon AI" that is specifically designed to display weather information and adjust lights based on the available sunlight. </p>
						</div>
						<div class="col-6 col-12-medium imp-medium">
							<span class="image fit"><img src="static/images/rtu.png" alt="" /></span>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="main style2">
				<div class="container">
					<div class="row gtr-150">
						<div class="col-6 col-12-medium">
							<ul class="major-icons">
								<li><span class="icon solid style3 major fa-sun"></span></li>
								<li><span class="icon solid style2 major fa-bolt"></span></li>
								<li><span class="icon solid style3 major fa-globe"></span></span></li>
								<li><span class="icon solid style3 major fa-cloud-rain"></span></li>
								<li><span class="icon solid style3 major fa-cloud-showers-heavy"></span></li>
								<li><span class="icon solid style3 major fa-thermometer-half"></span></li>
							</ul>
						</div>
						<div class="col-6 col-12-medium">
							<header class="major">
								<h2>Here are the readings and<br />
								controls for the system.</h2>
							</header>
							<div class="display-row">
								<div class="temperature-box">
								  <span class="label">Temperature</span>
								  <span class="value" id="Temp">22&deg;C</span>
								</div>
								<div class="humidity-box">
								  <span class="label">Humidity</span>
								  <span class="value" id="Humid">55%</span>
								</div>
							  </div>
							  <div class="brightness-slider">
								<label for="brightness">Brightness:</label>
								<input type="range" id="brightness" name="brightness" min="0" max="100" value="50">
								<div class="brightness-example"></div>
							  </div>
															
							<div class="switch-container">
								<div class="switch-row">
								  	<span class="switch-label">Fan</span>
								  	<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
								  	</label>
							</div>

							<div class="switch-row">
								  	<span class="switch-label">Light</span>
								  	<label class="switch">
										<input type="checkbox">
										<span class="slider"></span>
								  	</label>
							</div>

							<!-- scan weather -->
							<div class="refresh-container">
								<button class="refresh-btn" onclick="weather(); forecast(); ">Scan Weather</button>
							</div>
							

						</div>
							    
							  <div class="weather-box">
								<h2>Today's Weather</h2>
								<h3 id="DateNow">Mon, April 28</h3>
								<ul>
								  <li id="1time">7am: Sunny, 25°C</li>
								  <li id="2time">10am: Partly cloudy, 28°C</li>
								  <li id="3time">1pm: Mostly sunny, 31°C</li>
								  <li id="4time">4pm: Scattered thunderstorms, 27°C</li>
								  <li id="5time">7pm: Rain, 23°C</li>
								  <li id="6time">9pm: Cloudy, 20°C</li>
								</ul>
							  </div>
							  
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="main style1 special">
				<div class="container">
					<header class="major">
						<h2>Under Construction Lorem muna</h2>
					</header>
					<p>Ante nunc accumsan et aclacus nascetur ac ante amet sapien sed.</p>
					<div class="row gtr-150">
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="static/images/pic02.jpg" alt="" /></span>
							<h3>Magna feugiat lorem</h3>
							<p>Adipiscing a commodo ante nunc magna lorem et interdum mi ante nunc lobortis non amet vis sed volutpat et nascetur.</p>
							<ul class="actions special">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="static/images/pic03.jpg" alt="" /></span>
							<h3>Magna feugiat lorem</h3>
							<p>Adipiscing a commodo ante nunc magna lorem et interdum mi ante nunc lobortis non amet vis sed volutpat et nascetur.</p>
							<ul class="actions special">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="static/images/pic04.jpg" alt="" /></span>
							<h3>Magna feugiat lorem</h3>
							<p>Adipiscing a commodo ante nunc magna lorem et interdum mi ante nunc lobortis non amet vis sed volutpat et nascetur.</p>
							<ul class="actions special">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="main style2 special">
				<div class="container">
					<header class="major">
						<h2>The Weather and Lighting AI</h2>
					</header>
					<p>Conserving energy and still giving you the right needs.</p>
					<ul class="actions special">
						<li><a href="#" class="button wide primary">Subscribe for real time updates of the weather?</a></li>
						<li><a href="#" class="button wide">Learn More</a></li>
					</ul>
				</div>
			</section>

		

		<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Copyright</li><li>Team: <a href="#">JOPAY</a></li>
				</ul>
			</section>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

		<!-- for weathering API -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
			<script src="static/js/index.js"></script>

	</body>
</html>